.main-section {
    background-color: #F2545B;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #071E22;
}

.main-section .main-title {
    margin-bottom: 60px;
}


.main-section.-projects {
    background-color: black;
    
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdColor {
    border-bottom: 10px solid #F2545B;
}