.progress {  
    width: 100%;
    max-width: 320px;
    background: #e1e4e8;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 10px;
    height: 40px;
    width: 320px;
    box-sizing: border-box;
}

  
  .progress-bar{
    height: 40px;
    width: 320px;
    background:linear-gradient(90deg,#3d64ff,#21af72,#21af72 34%,#01feff 51%,#3d64ff 68%,#21af72 85%,#21af72);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}


    
@keyframes progress-animation{
   0%{
       background-position: 100%;
   }
   100%{
       background-position: 0;
   }
}